.bs-form {
  .page-title{
      text-align: center;
  }
  .formfield {
    margin: 10px auto;
    width: 80%;
  }
  .button-wrap {
    text-align: center;
  }
  .act-wrap {
    margin-bottom: 20px;
    text-align: center;
  }
}
