
/*asif*/
/*asif end*/
/* breakpoints */
/* element */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* element.scss */
* {
  outline: 0;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif !important;
}

body {
  line-height: initial;
  font-family: "Montserrat", sans-serif !important;
  color: #282828;
  font-size: 1.4rem;
}

textarea {
  resize: none;
}

p {
  margin-bottom: 10px;
  line-height: 2.2rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: #183442;
}

button {
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0px;
}
button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
button.btn-link[disabled] {
  opacity: 1;
  color: #888888;
  cursor: not-allowed;
}
button.btn-link[disabled]:hover {
  color: #888888;
}

.icon:before {
  font-weight: bold !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 2.4rem;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

.list li {
  line-height: 2.2rem;
}

@media (max-width: 767px) {
  p {
    line-height: 1.8rem;
  }
}
/* common */
.cm-not-in-page {
  left: -99999px;
  position: absolute;
  top: -99999px;
}

.cm-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
.cm-loader .img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}
.cm-loader .img-wrap img {
  width: 100%;
}

.backdrop {
  position: fixed !important;
}

.spinner-three-bounce {
  display: none !important;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cm-line-break {
  display: block;
}

.cm-bold {
  font-weight: 700;
}

.cm-regular {
  font-weight: 500;
}

.cm-semibold {
  font-weight: 600;
}

.cm-light {
  font-weight: 400;
}

.cm-dot {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  position: relative;
  margin-top: 90px;
}
.container .title {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.theme-gray {
  background: #f8f8f8;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.sec-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.page-title {
  font-weight: 400;
  font-size: 3.2rem;
  margin: 25px;
}
.page-title + .bs-sec {
  padding-top: 0;
}

.thumb-banner {
  text-align: center;
}

.gray-title-wrap {
  clear: both;
}

.gray-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #888888;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: inline-block;
  clear: both;
}

.last-updated {
  background: #ebebeb;
  font-size: 1rem;
  text-align: center;
  padding: 5px;
}

.icon-rupee {
  color: #888888;
  font-size: 1.1rem;
  vertical-align: text-top;
}
.icon-rupee.typ-2 {
  color: #282828;
  line-height: 19px;
}

.icon-excel {
  background: url(../images/icon-excel.png) center center no-repeat;
  width: 30px;
  height: 28px;
  display: inline-block;
  cursor: pointer;
  margin: 0 6px;
  vertical-align: middle;
}

.icon-pdf {
  background: url(../images/icon-pdf.png) center center no-repeat;
  width: 30px;
  cursor: pointer;
  height: 28px;
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
}

.custom-dropdown {
  position: relative;
  z-index: 2;
}
.custom-dropdown .dropdown-list {
  padding: 0 10px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  display: none;
  min-width: 250px;
  background: #ffffff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.07);
}
.custom-dropdown .dropdown-list .bs-radio {
  margin-right: 0;
}
.custom-dropdown .dropdown-list li {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}
.custom-dropdown.active .dropdown-list {
  display: block;
}

.cm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
}
.cm-overlay.active {
  display: block;
}

.disabled {
  opacity: 0.5;
}

html input:disabled {
  background: transparent;
  cursor: not-allowed;
}

.set-bg {
  background-size: cover !important;
}

.col-wrapper {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.with-space {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
}
.with-space > [class^=col-] {
  padding: 0 15px;
}
.with-space > .aem-GridColumn {
  padding: 0 15px;
}

.col-2,
.col-3,
.col-4,
.col-5 {
  box-sizing: border-box;
  float: left;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 20%;
}

.cm-img-responsive {
  max-width: 100%;
}

.mat-form-field {
  display: block !important;
}

.mat-input-element,
.mat-form-field-label {
  font-family: "Montserrat", sans-serif !important;
}

.mat-fab,
.mat-flat-button,
.mat-mini-fab,
.mat-raised-button {
  background: #0ba751;
  border-radius: 30px;
  color: #ffffff;
}

.cm-green {
  color: #00a651;
}

.cm-line-break {
  display: block;
}

.cm-dn {
  display: none;
}

.grid-wrap {
  padding: 0 18px;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.a-left {
  text-align: left;
}

.a-right {
  text-align: right;
}

.ui-g {
  margin-left: -18px;
  margin-right: -18px;
}
.ui-g.border-bewn > .col-item + .col-item {
  border-left: 1px solid #f1f1f1;
}
.ui-g.no-margin .ui-lg-1,
.ui-g.no-margin .ui-lg-2,
.ui-g.no-margin .ui-lg-3,
.ui-g.no-margin .ui-lg-4,
.ui-g.no-margin .ui-lg-5,
.ui-g.no-margin .ui-lg-6,
.ui-g.no-margin .ui-lg-7,
.ui-g.no-margin .ui-lg-8,
.ui-g.no-margin .ui-lg-9,
.ui-g.no-margin .ui-lg-10,
.ui-g.no-margin .ui-lg-11,
.ui-g.no-margin .ui-lg-12 {
  padding: 0 18px;
}
.ui-g .col-item {
  padding: 0 18px;
  margin-bottom: 30px;
}

.ui-toast {
  width: auto;
  margin-left: 0;
  transform: translateX(-50%);
}
.ui-toast.ui-toast-bottom-center {
  margin-left: 0;
  bottom: 40px;
  transform: translateX(-50%);
  width: auto;
}
.ui-toast .ui-toast-message {
  background: #282828;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block !important;
}
.ui-toast .ui-toast-message-content {
  padding: 18px 20px;
}
.ui-toast .ui-toast-message-content p {
  margin-bottom: 0;
}
.ui-toast .ui-toast-message-text-content {
  padding: 0;
  margin: 0 !important;
  min-width: 300px;
  width: auto;
  text-align: center;
}
.ui-toast .ui-toast-summary {
  display: none;
}

.push-bot {
  margin-bottom: 30px;
}

.loader {
  height: 100vh;
  position: absolute;
  width: 100%;
  background: #cdcdcd;
  top: 0px;
}
.loader mat-spinner {
  width: 100px;
  height: 100px;
  top: 40%;
  left: 50%;
}

@media screen and (max-width: 1024px) {
  .main-container {
    margin-left: 0;
  }

  .grid-wrap {
    padding: 0 12px;
  }

  .ui-g {
    margin-left: -12px;
    margin-right: -12px;
  }
  .ui-g.no-margin .ui-lg-1,
.ui-g.no-margin .ui-lg-2,
.ui-g.no-margin .ui-lg-3,
.ui-g.no-margin .ui-lg-4,
.ui-g.no-margin .ui-lg-5,
.ui-g.no-margin .ui-lg-6,
.ui-g.no-margin .ui-lg-7,
.ui-g.no-margin .ui-lg-8,
.ui-g.no-margin .ui-lg-9,
.ui-g.no-margin .ui-lg-10,
.ui-g.no-margin .ui-lg-11,
.ui-g.no-margin .ui-lg-12 {
    padding: 0 12px;
  }
  .ui-g .col-item {
    padding: 0 12px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 9px;
  }

  .ui-g.border-bewn > .col-item + .col-item {
    border: 0;
  }
}
@media screen and (max-width: 640px) {
  .ui-g.no-margin .ui-g-12 + .ui-g-12 {
    margin-top: 30px;
  }

  .ui-toast.ui-toast-bottom-center {
    width: 90%;
  }
  .ui-toast .ui-toast-message-content {
    padding: 12px 15px;
  }
}
/* base include */
.bs-card .page-title {
  text-align: center;
}
.bs-card .nav-list {
  overflow: hidden;
}
.bs-card .nav-list .nav-item {
  text-align: center;
  margin: 15px 0;
}

.bs-btn {
  padding: 11px 20px;
  min-width: 110px;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #282828;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.5s ease;
  letter-spacing: 1px;
  position: relative;
}
.bs-btn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  background: #000;
  transition: all 0.5s ease;
  z-index: -1;
}
.bs-btn:hover {
  color: #fff;
}
.bs-btn:hover:before {
  right: 0%;
}
.bs-btn.typ-big {
  padding: 25px 50px;
  transition: all 0.5s ease;
}
.bs-btn.typ-small {
  padding: 10px;
  font-size: 1.2rem;
}
.bs-btn:focus {
  border: 1px solid #282828;
}
.bs-btn + .bs-btn {
  margin-left: 15px;
}
.bs-btn.btn-default {
  background: #282828;
  color: #ffffff;
}
.bs-btn.btn-default:hover {
  background: #0ba751;
  border-color: #0ba751;
}
.bs-btn.disabled {
  opacity: 0.7;
}
.bs-btn.btn-secondary {
  background: #ffffff;
  color: #282828;
  border-color: #0ba751;
}
.bs-btn.btn-link {
  padding: 0;
  border: 0;
  background: transparent;
  color: #0ba751;
  font-size: 1.3rem;
}
.bs-btn.btn-link .icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.2rem;
}
.bs-btn.btn-link .icon.icon-arrow-right {
  line-height: 1rem !important;
  font-size: 1rem !important;
}
.bs-btn.btn-link:hover {
  color: #282828;
}
.bs-btn.btn-gradient {
  border-radius: 30px;
  padding: 10px 12px;
  font-size: 1.1rem;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
  background: #ffbb00;
  background: -moz-linear-gradient(left, #ffbb00 0%, #f17900 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffbb00), color-stop(100%, #f17900));
  background: -webkit-linear-gradient(left, #ffbb00 0%, #f17900 100%);
  background: -o-linear-gradient(left, #ffbb00 0%, #f17900 100%);
  background: -ms-linear-gradient(left, #ffbb00 0%, #f17900 100%);
  background: linear-gradient(to right, #ffbb00 0%, #f17900 100%);
}
.bs-btn.typ-icon {
  font-size: 1.6rem;
  min-width: inherit;
}

@media only screen and (max-width: 767px) {
  .bs-btn {
    padding: 8px 12px;
  }
  .bs-btn.btn-link {
    min-width: auto;
  }
}
.bs-form .page-title {
  text-align: center;
}
.bs-form .formfield {
  margin: 10px auto;
  width: 80%;
}
.bs-form .button-wrap {
  text-align: center;
}
.bs-form .act-wrap {
  margin-bottom: 20px;
  text-align: center;
}

.bs-table table {
  width: 100%;
}
.bs-table td,
.bs-table th {
  padding: 20px;
  text-align: center;
}
.bs-table th {
  font-weight: bold;
  text-transform: uppercase;
}
.bs-table tbody tr {
  border-bottom: 1px solid #f1f1f1;
}
.bs-table tbody tr:hover {
  background: #f8f8f8;
}
.bs-table thead tr {
  background: #fafafa;
  background: #0ba751;
  border-bottom: 4px solid #0b9046;
  color: #ffffff;
}

.bs-header {
  z-index: 5;
  padding: 15px;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 5px #333;
}
.bs-header .nav-list {
  overflow: hidden;
}
.bs-header .nav-list .nav-item {
  float: right;
}

/* modules */
.mod-card {
  background: #fafafa;
  position: relative;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
  width: 90%;
  margin-bottom: 10px;
  margin: 0 auto 15px;
}
.mod-card .mod-card-head {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
  font-size: 16px;
  font-weight: bold;
}
.mod-card .mod-card-head .card-title {
  display: inline-block;
  margin-right: 5px;
}
.mod-card .mod-card-head .card-title-content {
  display: inline-block;
}
.mod-card .mod-card-content {
  padding: 15px 0px 0 0;
}
.mod-card .mod-card-content .card-details {
  display: inline-block;
  margin-right: 25px;
  width: 30%;
  font-size: 14px;
}
.mod-card .mod-card-content .card-details h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

/* layout */
.lyt-login {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
}
.lyt-login .form-container {
  position: absolute;
  top: 45%;
  left: 50%;
  max-width: 500px;
  width: 100%;
  transform: translate(-50%, -50%);
}
.lyt-login .form-container .page-title h2 {
  text-align: center;
}
.lyt-login .form-container .error-container {
  color: red;
  font-size: 12px;
  padding-bottom: 1.25em;
}
.lyt-login .login-wrap {
  border-radius: 10px;
  padding: 30px 60px;
}

.lyt-content {
  position: relative;
  height: 100vh;
}
.lyt-content .btn-wrap {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.lyt-content .btn-wrap .left-wrap,
.lyt-content .btn-wrap .right-wrap {
  padding: 25px 0px;
}
.lyt-content .btn-wrap .left-wrap {
  float: left;
  width: 50%;
  text-align: center;
  border-right: 1px solid #000;
}
.lyt-content .btn-wrap .right-wrap {
  float: right;
  width: 50%;
  text-align: center;
}

/*# sourceMappingURL=custom.css.map */
