// lyt-content
.lyt-content {
    position: relative;
    height: 100vh;
    .btn-wrap {
        width: 40%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        .left-wrap,
        .right-wrap {
            padding: 20px 0px; 
        }

        .bs-btn{
           box-shadow: 0 0px 17px #ddd
        }
        .left-wrap {
            float: left;
            width: 100%;
            text-align: center;
        }
        .right-wrap {
            float: right;
            width: 100%;
            text-align: center;
        }
    }
}