$clr-default:#183442;
$clr-secondary:#0ba751;
$clr-base:#282828;
$clr-white:#ffffff;
$clr-text:#888888;

$clr-error:#fe0000;
$clr-green:#00a651;

$theme-bg:#f8f8f8;

$font-thin:300;
$font-light:400;
$font-regular:500;
$font-semibold:600;
$font-bold:700;

/* breakpoints */
$font: 'Montserrat',
sans-serif;

$breakpoint-xxs:640px;
$breakpoint-xs:767px;
$breakpoint-sm:1024px;
$breakpoint-lg:1200px;
$breakpoint-xl:1600px;
$breakpoint-xxl:1920px;
