/* element.scss */

* {
  outline: 0;
}

html {
  font-size: 10px;
  font-family: $font !important;
}



body {
  line-height: initial;
  font-family: $font !important;
  color: $clr-base;
  background: #f9f9f9;
  font-size: 1.4rem;
  // padding-bottom: 40px; 
}



textarea {
  resize: none;
}

p {
  margin-bottom: 10px;
  line-height: 2.2rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: $clr-default;
}

button {
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0px;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.btn-link {
    &[disabled] {
      opacity: 1;
      color: $clr-text;
      cursor: not-allowed;

      &:hover {
        color: $clr-text;
      }
    }
  }
}

.icon {
  &:before {
    font-weight: bold !important;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-weight: $font-bold;
// }
.heading {
  font-size: 2.4rem;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

.list {
  li {
    line-height: 2.2rem;
  }
}

@media only screen and (max-width: $breakpoint-xs) {}

//     .heading{
//         text-align: left;
//         color: #262628;
//         font-family: 'FS-Elliot-bold';
//         font-size: 4.5rem;
//         line-height: 5.7rem;
//     }
//     p{
//         font-size: 3rem;
//         line-height: 4.2rem;
//     }
// }
@media (max-width: $breakpoint-xs) {
  p {
    line-height: 1.8rem;
  }
}
